<%#TODO(willjr): This is from up-stream, is it better? -%>
<%# filtered_env = @request.filtered_env -%>
<% filtered_env = @env -%>

<ul style="list-style: none">
  <% filtered_env.keys.map(&:to_s).sort.each do |key| -%>
    <li>
      <strong><%= key %>:</strong>
      <span><%= inspect_object(filtered_env[key]) %></span>
    </li>
  <% end -%>
</ul>
